<!DOCTYPE HTML>
<html ng-app="biodata">
<head>
    <title>Biodata</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="./biodata.controller.js"></script>
    <link href="../Style/bootstrap.css" rel="stylesheet">
</head>
<body>
    <div ng-controller="inputName as vm" class="container">

        <div>
            <h2>Biodata</h2>
            <form class="form-inline">
                <span><h4>Name </h4></span>
                <span><input ng-model="vm.name" type="text" class="input-medium"/></span>
                <span><h4>Birth Year</h4></span>
                <span><select ng-model="vm.year" class="span2"
                              ng-options="value for (key, value) in vm.years">
                </select></select>
                <button ng-click="vm.calculateAge()" id="calculateButton" class="btn">Calculate</button>
            </form>

            <h4>History</h4>
            <table class="table">
                <thead><tr>
                    <th>Name</th>
                    <th>Birth Year</th>
                    <th>Age</th>
                </tr></thead>
                <tr ng-repeat="result in vm.memory">
                    <td>{{result.name}}</td>
                    <td>{{result.birthyear}}</td>
                    <td>{{result.age}}</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>